.primary {
    background-color: #4285F4; 
    border: none; 
    color: white;
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    cursor: pointer; 
    border-radius: 3px;
    flex: 1 1 50%;
    text-transform: uppercase;
    height: 4rem;
    transition: all .1s ease-in;

    &:hover, &:active {
        background-color: #357ae8;
    }
}

.secondary {
    background-color: transparent; 
    border: 1px solid #000; 
    color: #000; 
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    flex: 1 1 50%;
    border-radius: 3px;
    text-transform: uppercase;
    height: 4rem;
    transition: all .1s ease-in;

    &:hover, &:active {
        background-color: #f0f0f0;
    }
}