.signup {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        padding: 0 1rem;
    }

    @media (max-width: 500px) {
        flex-direction: column-reverse;
    }
}


.banner_container {
    position: relative;
    height: 300px;

    @media (max-width: 768px) {
        max-width: 700px;
    }

    img {
        object-position: center;

        @media (max-width: 500px) {
            object-position: top;
            height: auto !important;
            max-height: 300px !important;
        }
    }

} 

.form {
    margin: 25px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    @media (max-width: 768px) {
        width: 70%;
    }

    
    @media (max-width: 500px) {
        width: 100%;
    }

    &__input_icon {
        position: absolute;
        font-size: 1.6rem;
        top: 50%;
        left: 10px;
    }

    &__button_container {
        display: flex;
        gap: 1rem;
    }
   

    &__flex_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;

        @media (max-width: 400px) {
            gap: 0;
        }
    }


    // form group to group label and input element
    &__group {
        flex: 1 1 47%;
        display: flex;
        width: 47%;
        flex-direction: column;
        position: relative;
        &:not(:last-child) {
            //margin on firstname and lastname to have a gap for country
            margin-bottom: 1rem;
        }

        label {
            display: block; 
            margin-bottom: 5px; 
            font-size: 1.2rem;
            color: #858484;
          }

        input[type="text"],
        input[type="number"],
        select {
        width: 100%; 
        padding: 8px;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        font-size: 1.6rem; 
        transition: border-color 0.3s ease; 
        }

        input[type="text"]:focus,
        input[type="number"]:focus,
        select:focus {
        outline: none; 
        border-color: #007bff; 
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); 
        }

        input[type="text"]::placeholder, input[type="number"]::placeholder {
        color: #aaa;
        font-weight: lighter;

            @media (max-width: 400px) {
                font-size: 1.2rem;
            }
        }

        select {
            @media (max-width: 400px) {
                font-size: 1.2rem;
            }

            // setting color for select placeholder (option w/o value)
            &:required:invalid {
                color: gray;

            }

            //setting default color for options
           & > option {
                color: black;
            }
        }
    }
}

.input {
    &_with_icon {
        padding-left: 25px !important;

        &::placeholder {
            padding-left: 0px !important;
        }

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
        }
    }
}