.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__avatar_container {
        img {
            &:hover {
                animation-name: spin;
                animation-duration: 5000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear; 
            }
        }
    }

    h3 {
        text-align: center;
    }

    &__button_container {
        display: flex;
        width: 20%;
    }

    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}